@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap");
@import "../styles/colors.scss";

* {
  box-sizing: border-box;
  // font-family: 'Montserrat', sans-serif;
  font-family: "Quicksand", sans-serif;
}


body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $blackish;
}

@keyframes loading {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.app-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
