$pinkish-grey: #c6c6c6;
$greyish-brown: #3d3d3d;
$ice-blue: #f9fcff;
$turquoise: #0bc29f;
$bright-sky-blue: #00b1ff;
$dark-blue-grey: #1f2a55;
$azul: #2564ee;
$blackish: #1e1e1e;
$black: #000;
$white: #fff;
